<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?ifndef Version?>
  <?define Version = "1.4.0.0" ?>
  <?endif?>
  <Package Name="PPGAV - People Playground Antivirus Guard"
           Manufacturer="PPGAV"
           Version="$(Version)"
           UpgradeCode="A8D6F6C1-8A3D-4A6B-8B5A-4A9C5F7B31D2"
           Scope="perUser">
    <SummaryInformation Description="People Playground Antivirus Guard" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of PPGAV is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="PpgavData" Name="PPGAV">
        <Directory Id="InstallFolder" Name="app" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="PpgavPrograms" Name="PPGAV" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="PPGAV" Level="1">
      <ComponentRef Id="ApplicationComponent" />
      <ComponentRef Id="DataDirectoryComponent" />
      <ComponentRef Id="StartMenuComponent" />
    </Feature>

    <Component Id="ApplicationComponent" Directory="InstallFolder" Guid="6A2B0DF0-52D4-4DAE-9D53-20A8A2E9F7C4">
      <File Id="PPGAVEXE" Source="$(var.PublishDir)\PPGAV.exe" />
      <RegistryValue Root="HKCU" Key="Software\PPGAV" Name="InstallMarker" Type="string" Value="1" KeyPath="yes" />
      <RemoveFile Id="RemovePublishedAppFiles" Name="*" On="uninstall" />
      <RemoveFolder Id="RemoveAppDirectory" On="uninstall" />
    </Component>

    <Component Id="DataDirectoryComponent" Directory="PpgavData" Guid="2DAFEE5B-B3A0-4C53-9866-4D8D2A0A1D43">
      <RegistryValue Root="HKCU" Key="Software\PPGAV" Name="DataDirectoryMarker" Type="string" Value="1" KeyPath="yes" />
      <RemoveFolder Id="RemoveDataDirectoryIfEmpty" On="uninstall" />
    </Component>

    <Component Id="StartMenuComponent" Directory="PpgavPrograms" Guid="*">
      <Shortcut Id="PPGAVShortcut" Name="PPGAV" Description="People Playground Antivirus Guard" Target="[InstallFolder]PPGAV.exe" WorkingDirectory="InstallFolder" />
      <RemoveFolder Id="RemovePPGAVProgramFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\PPGAV" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Package>
</Wix>
